.footer {
  height: 250px;
  background-color: $footerBackground;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  div{
    background-color: transparent;
  }
}

.footer__socialButtonWrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 110px;
  background-color: transparent;
}



.upworkBackgroundImg{

}

[class^="footer__socialBtn"] {
  background-color: #272727;
  border-radius: 50%;
  color: transparent;
  width: 30px;
  height: 30px;
  //text-align: center;
  display: flex;
  justify-content: center;
  //align-content: center;
  transition: background-color 0.6s;
}
//
//[class^="footer__socialBtn"]:hover{
//  opacity: 0.7;
//}

.footer__socialBtn-google:hover{
  background-color: #db5442;
}

.footer__socialBtn-facebook:hover{
  background-color: #3b5998;
}


.footer__socialBtn-upwork:hover{
  background-color: #5BBC2F;
}

//.footer__socialBtn:hover{
//  transition: filter .5s ease-in-out;
//  -webkit-filter: invert(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
//  filter: invert(100%);
//}

.footer__socialButtonImg {
  background-color: transparent;
  color: white;
  align-self: center;
  font-size: 0.9em;
}

.footer__BtnBackgroundImg{
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__paragraph{
  background-color: transparent;
  text-align: center;
  margin-bottom: 5px;
}