
.NavBar {
  background: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 70px;
  display: flex;
  align-items: center;
  color: $fontColorGreen;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dimmer {
  display: flex;
  background: #000;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 100;
  @include transitionAll(0.3s);
}

.dimmer.active {
  opacity: 0.1;
  width: 100%;
  height: 100%;
}


.NavBar__name {
  position: relative;
  padding-left: 5%;
  letter-spacing: 4.45px;
  font-size: 22px;
  font-weight: 500;
  opacity: 1;
  display: flex;
  justify-content: flex-start;
  width: 80%;


  a:visited {
    color: $fontColorGreen;
  }
}

.NavBar__name-a-elem{
  font-family: HelveticaNeueBold;
  color: $fontColorGreen;
}

.NavBar__name.deActive {
  opacity: 0;
}


.NavBar__items-wrapper {
  position: absolute;
  right: -209px;

  min-width: 240px;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  background-color: transparent;
  @include transitionAll(0.5s);
}

.NavBar__item {
  color: $fontColorGrey;

  cursor: pointer;
}

.NavBar__item:hover {
  color:$fontColorGreyHover;
  //background-color: rgba(0,0,0,0.02);
}


.NavBar__items-wrapper.openUp {
  right: -5px;
}

.NavBar__barsIcon {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 14px;
  padding-left: 14px;
  max-height: 32px;
  z-index: 12000;
  cursor: pointer;
  color: $fontColorGrey;
}


.NavBar__itemsList{
  display: none;
  width: 30vw;
  min-width: 200px;
  max-width: 200px;
  align-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  font-family: HelveticaNeueBold;
  font-family: HelveticaNeueBold;
  font-size: 14px;
  justify-content: space-between;
  list-style: none;
  letter-spacing: 1.61px;
  border: none;
  -webkit-box-shadow: -4px 3px 5px 0px rgba(219, 219, 219, 1);
  -moz-box-shadow: -4px 3px 5px 0px rgba(219, 219, 219, 1);
  box-shadow: -4px 3px 5px 0px rgba(219, 219, 219, 1);
  z-index: 11000;
  background-color: #ffffff;

  li {
    display: block;
    padding-left: 30%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.NavBar__itemsList_mobile {
  display: flex;
  width: 30vw;
  min-width: 200px;
  max-width: 200px;
  align-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  font-family: HelveticaNeueBold;
  font-family: HelveticaNeueBold;
  font-size: 14px;
  justify-content: space-between;
  list-style: none;
  letter-spacing: 1.61px;
  border: none;
  -webkit-box-shadow: -4px 3px 5px 0px rgba(219, 219, 219, 1);
  -moz-box-shadow: -4px 3px 5px 0px rgba(219, 219, 219, 1);
  box-shadow: -4px 3px 5px 0px rgba(219, 219, 219, 1);
  z-index: 11000;
  background-color: #ffffff;

  li {
    display: block;
    padding-left: 30%;
    padding-bottom: 20px;
    padding-top: 20px;
  }

}

.activeMenuItm {
  color: $fontColorGreen !important;
  text-decoration: none;
  outline: none;
  outline-offset: 0;
  border-bottom-style: solid;
  border-bottom-color: $fontColorGreen;
  border-bottom-width: 2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-bottom: 26px;
  font-family: HelveticaNeueBold;
}

@media only screen and (min-width: 640px) {

  .NavBar {
    flex-wrap: nowrap;
  }

  .NavBar__name {
    width: 40%;
  }

  .NavBar__barsIcon {
    display: none;
  }

  .NavBar__items-wrapper {
    width: 50%;
    right: 5%;
    top: 0;
    justify-content: flex-end;
  }


  .NavBar__itemsList_mobile {
    display: none;
    flex-wrap: nowrap;
    width: 60%;
    min-height: 0;
    min-width: 0;
    max-width: 100%;
    position: relative;
    top: 0;
    border: none;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(219, 219, 219, 1);
    box-shadow: 0px 0px 0px 0px rgba(219, 219, 219, 1);
    justify-content: flex-end;

    li {
      padding-bottom: 0;
      //padding-left: 20px;
    }
  }

  .NavBar__itemsList {
    display: flex;
    flex-wrap: nowrap;
    width: 60%;
    min-height: 0;
    min-width: 0;
    max-width: 100%;
    position: relative;
    top: 0;
    border: none;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(219, 219, 219, 1);
    box-shadow: 0px 0px 0px 0px rgba(219, 219, 219, 1);
    justify-content: flex-end;

    li {
      padding-bottom: 0;
      //padding-left: 20px;
    }
  }

}