
.parallax {
  /* The image used */
  //background-image: url("img_parallax.jpg");

  /* Set a specific height */
  height: 66.67vh;

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll-icon-down {
  position: absolute;
  bottom: 30.33vh;
  right: 7px;
  //left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border-radius: 15px;
  //border: 2px solid $fontColorGreen;
  //border: 2px solid #272727;
  //border: 2px solid #fff;
  text-align: center;
  background-color: #fbfcff;
  z-index: 50;
  cursor: pointer;
}

.scroll-icon-down:before {
  content: '\f107';
  //color: $fontColorGreen;
  color: #272727;
  font-size: 18px;
  font-family: FontAwesome;
  position: relative;
  -moz-animation: scroll 1.5s infinite ease-in-out;
  -webkit-animation: scroll 1.5s infinite ease-in-out;
  animation: scrollDown 1.5s infinite ease-in-out;
}

@-moz-keyframes scrollDown {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 30px;
  }
}
@-webkit-keyframes scrollDown {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 30px;
  }
}
@keyframes scrollDown {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 30px;
  }
}

@media only screen and (min-width: 640px) {

  .App-header {
    background-position-y: 0;
  }

  .parallax {
    background-attachment: fixed;
  }

}

@media only screen and (min-width: 1024px) {
  .App-header {
    transform: scale(1.0);
    background-position: calc(50%) -15vw;
  }


}