@font-face {
  font-family: FuturaPtMedium;
  src: url("./fonts/FuturaPt/FuturaPTMedium.otf"); }

@font-face {
  font-family: FuturaPTLight;
  src: url("./fonts/FuturaPt/FuturaPTLight.otf"); }

* {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #737373; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  overflow-x: hidden; }

.uppercase {
  text-transform: uppercase; }

a {
  text-decoration: none;
  cursor: pointer; }

a:-webkit-any-link {
  color: #705edd;
  cursor: pointer;
  text-decoration: none; }

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

h1 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: HelveticaNeueBold;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0px;
  text-decoration: none;
  line-height: 1.2em;
  padding: 0 0 25px 0;
  width: 100%;
  text-align: center;
  z-index: 2000; }

h2 {
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: HelveticaNeueBold;
  font-size: 19px;
  font-weight: 700;
  text-transform: none;
  font-style: normal;
  letter-spacing: .4px;
  text-decoration: none;
  line-height: 1.2em;
  width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px; }

.block624 {
  display: flex;
  max-width: 624px;
  min-width: 320px;
  padding: 0 15px 0 15px;
  min-width: 320px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center; }

.block1000 {
  display: flex;
  max-width: 1000px;
  padding: 0 15px 0 15px;
  min-width: 320px;
  flex-wrap: wrap;
  width: 100%; }

.blockFullWidth {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap; }

.subBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.component__wrapper {
  padding-top: 25px;
  padding-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: visible;
  flex-wrap: wrap;
  width: 100%; }

p, li {
  font-size: 1.1em;
  font-weight: 500;
  position: relative;
  width: 100%;
  text-align: left;
  line-height: 1.4em; }

.cardsWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

@media only screen and (min-width: 640px) {
  .block624 {
    display: flex;
    max-width: 624px;
    min-width: 320px;
    padding: 0 15px 0 15px;
    min-width: 320px;
    flex-wrap: wrap;
    width: 60vw; }
  .cardsWrapper {
    display: flex;
    flex-wrap: wrap; } }

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%; }
  .card img {
    width: 100%; }
  .card p {
    padding: 15px 0;
    text-align: center;
    vertical-align: text-top; }

@media only screen and (min-width: 640px) {
  .card_content_wrapper {
    display: flex;
    align-self: auto;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start; }
  .card {
    width: 25%;
    padding: 10px; }
    .card img {
      align-self: baseline; } }

[class^="contacts__paragraph"] {
  width: 100%;
  text-align: left;
  padding-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  line-height: 1.6em;
  z-index: 2000; }

.contacts__paragraph3 {
  margin-top: 20px;
  font-family: HelveticaNeueBold; }

.centered {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }

.contacts__firstBlock-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.contact__video-wrapper {
  display: none; }

[class*="BlackWhiteButton"] {
  border: 2px solid #272727;
  border-radius: 3px;
  background-color: transparent;
  color: #272727 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  height: auto;
  padding: 0.5em 2.1em;
  text-align: center;
  cursor: pointer;
  margin-top: 15px;
  outline-color: #705edd;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }

[class*="BlackWhiteButton"]:hover {
  background-color: #705edd;
  color: white !important; }

.BlackWhiteButton1 {
  min-width: 250px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-content: center; }

.contacts__icons {
  width: 100%;
  text-align: center;
  /* padding-left: 40px; */
  /* padding-top: 20px; */
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  line-height: 1.6em;
  z-index: 2000;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  height: 25px; }

.contacts__icons-wrapper {
  display: flex;
  align-content: flex-start;
  width: 100%;
  flex-wrap: wrap; }

[class^="contacts__icon-"] {
  background-color: transparent;
  padding-right: 10px;
  margin: 0;
  margin-top: -4px;
  padding-top: 10px; }

.contacts__buttonsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }

.scroll-icon-up-text {
  position: absolute;
  bottom: -26px;
  left: 50%;
  font-size: 0.8em;
  margin-left: -6px;
  text-align: center;
  background-color: transparent;
  z-index: 13000;
  color: #272727; }

.scroll-icon-up {
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 40px;
  height: 50px;
  margin-left: -15px;
  border-radius: 15px;
  border: 2px solid white;
  text-align: center;
  background-color: white;
  z-index: 13000; }

.scroll-icon-up:before {
  content: '\f106';
  color: #272727;
  font-size: 18px;
  font-family: FontAwesome;
  position: relative;
  -moz-animation: scroll 1.5s infinite ease-in-out;
  -webkit-animation: scroll 1.5s infinite ease-in-out;
  animation: scrollUp 1.5s infinite ease-in-out; }

@-moz-keyframes scrollUp {
  0% {
    opacity: 0;
    top: 15px; }
  100% {
    opacity: 1;
    top: 0px; } }

@-webkit-keyframes scrollUp {
  0% {
    opacity: 0;
    top: 15px; }
  100% {
    opacity: 1;
    top: 0px; } }

@keyframes scrollUp {
  0% {
    opacity: 0;
    top: 15px; }
  100% {
    opacity: 1;
    top: 0px; } }

.contacts__arrowUp-div {
  cursor: pointer; }

@media only screen and (min-width: 640px) {
  [class*="BlackWhiteButton"] {
    width: 300px;
    margin-top: 25px;
    margin-bottom: 40px; }
  .contacts__buttonsWrapper {
    justify-content: space-between;
    width: 100%; }
  .contact__video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    transform: scale(1.8);
    position: relative;
    top: 90px;
    left: 140px; }
  .contact__video-wrapper {
    display: flex;
    justify-content: center;
    width: 50%;
    overflow: hidden; }
  .contacts__firstBlock-wrapper {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: baseline; } }

.experience__bullets {
  margin-left: 15px; }

.experience__bullets {
  margin-left: 15px; }

.experience__title-block {
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  width: 100%;
  padding-bottom: 5px;
  font-size: 20px;
  font-size: 20px;
  margin-left: 0;
  margin-bottom: 10px; }

.experience__table-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0px;
  margin-left: 15px; }

.experience__table-cell {
  width: 30%;
  min-width: 165px; }

@media only screen and (min-width: 640px) {
  .experience__title-block {
    text-align: left;
    width: 200%;
    margin-left: -90px; } }

.footer {
  height: 250px;
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden; }
  .footer div {
    background-color: transparent; }

.footer__socialButtonWrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 110px;
  background-color: transparent; }

[class^="footer__socialBtn"] {
  background-color: #272727;
  border-radius: 50%;
  color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  transition: background-color 0.6s; }

.footer__socialBtn-google:hover {
  background-color: #db5442; }

.footer__socialBtn-facebook:hover {
  background-color: #3b5998; }

.footer__socialBtn-upwork:hover {
  background-color: #5BBC2F; }

.footer__socialButtonImg {
  background-color: transparent;
  color: white;
  align-self: center;
  font-size: 0.9em; }

.footer__BtnBackgroundImg {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain; }

.footer__paragraph {
  background-color: transparent;
  text-align: center;
  margin-bottom: 5px; }

.NavBar {
  background: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 70px;
  display: flex;
  align-items: center;
  color: #705edd;
  flex-wrap: wrap;
  justify-content: space-between; }

.dimmer {
  display: flex;
  background: #000;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 100;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.dimmer.active {
  opacity: 0.1;
  width: 100%;
  height: 100%; }

.NavBar__name {
  position: relative;
  padding-left: 5%;
  letter-spacing: 4.45px;
  font-size: 22px;
  font-weight: 500;
  opacity: 1;
  display: flex;
  justify-content: flex-start;
  width: 80%; }
  .NavBar__name a:visited {
    color: #705edd; }

.NavBar__name-a-elem {
  font-family: HelveticaNeueBold;
  color: #705edd; }

.NavBar__name.deActive {
  opacity: 0; }

.NavBar__items-wrapper {
  position: absolute;
  right: -209px;
  min-width: 240px;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.NavBar__item {
  color: #c4c4c4;
  cursor: pointer; }

.NavBar__item:hover {
  color: rgba(196, 196, 196, 0.7); }

.NavBar__items-wrapper.openUp {
  right: -5px; }

.NavBar__barsIcon {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 14px;
  padding-left: 14px;
  max-height: 32px;
  z-index: 12000;
  cursor: pointer;
  color: #c4c4c4; }

.NavBar__itemsList {
  display: none;
  width: 30vw;
  min-width: 200px;
  max-width: 200px;
  align-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  font-family: HelveticaNeueBold;
  font-family: HelveticaNeueBold;
  font-size: 14px;
  justify-content: space-between;
  list-style: none;
  letter-spacing: 1.61px;
  border: none;
  -webkit-box-shadow: -4px 3px 5px 0px #dbdbdb;
  -moz-box-shadow: -4px 3px 5px 0px #dbdbdb;
  box-shadow: -4px 3px 5px 0px #dbdbdb;
  z-index: 11000;
  background-color: #ffffff; }
  .NavBar__itemsList li {
    display: block;
    padding-left: 30%;
    padding-bottom: 20px;
    padding-top: 20px; }

.NavBar__itemsList_mobile {
  display: flex;
  width: 30vw;
  min-width: 200px;
  max-width: 200px;
  align-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  font-family: HelveticaNeueBold;
  font-family: HelveticaNeueBold;
  font-size: 14px;
  justify-content: space-between;
  list-style: none;
  letter-spacing: 1.61px;
  border: none;
  -webkit-box-shadow: -4px 3px 5px 0px #dbdbdb;
  -moz-box-shadow: -4px 3px 5px 0px #dbdbdb;
  box-shadow: -4px 3px 5px 0px #dbdbdb;
  z-index: 11000;
  background-color: #ffffff; }
  .NavBar__itemsList_mobile li {
    display: block;
    padding-left: 30%;
    padding-bottom: 20px;
    padding-top: 20px; }

.activeMenuItm {
  color: #705edd !important;
  text-decoration: none;
  outline: none;
  outline-offset: 0;
  border-bottom-style: solid;
  border-bottom-color: #705edd;
  border-bottom-width: 2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-bottom: 26px;
  font-family: HelveticaNeueBold; }

@media only screen and (min-width: 640px) {
  .NavBar {
    flex-wrap: nowrap; }
  .NavBar__name {
    width: 40%; }
  .NavBar__barsIcon {
    display: none; }
  .NavBar__items-wrapper {
    width: 50%;
    right: 5%;
    top: 0;
    justify-content: flex-end; }
  .NavBar__itemsList_mobile {
    display: none;
    flex-wrap: nowrap;
    width: 60%;
    min-height: 0;
    min-width: 0;
    max-width: 100%;
    position: relative;
    top: 0;
    border: none;
    -webkit-box-shadow: 0px 0px 0px 0px #dbdbdb;
    -moz-box-shadow: 0px 0px 0px 0px #dbdbdb;
    box-shadow: 0px 0px 0px 0px #dbdbdb;
    justify-content: flex-end; }
    .NavBar__itemsList_mobile li {
      padding-bottom: 0; }
  .NavBar__itemsList {
    display: flex;
    flex-wrap: nowrap;
    width: 60%;
    min-height: 0;
    min-width: 0;
    max-width: 100%;
    position: relative;
    top: 0;
    border: none;
    -webkit-box-shadow: 0px 0px 0px 0px #dbdbdb;
    -moz-box-shadow: 0px 0px 0px 0px #dbdbdb;
    box-shadow: 0px 0px 0px 0px #dbdbdb;
    justify-content: flex-end; }
    .NavBar__itemsList li {
      padding-bottom: 0; } }

.parallax {
  /* The image used */
  /* Set a specific height */
  height: 66.67vh;
  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.scroll-icon-down {
  position: absolute;
  bottom: 30.33vh;
  right: 7px;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border-radius: 15px;
  text-align: center;
  background-color: #fbfcff;
  z-index: 50;
  cursor: pointer; }

.scroll-icon-down:before {
  content: '\f107';
  color: #272727;
  font-size: 18px;
  font-family: FontAwesome;
  position: relative;
  -moz-animation: scroll 1.5s infinite ease-in-out;
  -webkit-animation: scroll 1.5s infinite ease-in-out;
  animation: scrollDown 1.5s infinite ease-in-out; }

@-moz-keyframes scrollDown {
  0% {
    opacity: 1;
    top: 0; }
  100% {
    opacity: 0;
    top: 30px; } }

@-webkit-keyframes scrollDown {
  0% {
    opacity: 1;
    top: 0; }
  100% {
    opacity: 0;
    top: 30px; } }

@keyframes scrollDown {
  0% {
    opacity: 1;
    top: 0; }
  100% {
    opacity: 0;
    top: 30px; } }

@media only screen and (min-width: 640px) {
  .App-header {
    background-position-y: 0; }
  .parallax {
    background-attachment: fixed; } }

@media only screen and (min-width: 1024px) {
  .App-header {
    transform: scale(1);
    background-position: calc(50%) -15vw; } }

.PrjectCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  padding-bottom: 2px;
  -webkit-box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.4);
  margin: 10px;
  opacity: 0.85;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .PrjectCard img {
    width: 100%;
    height: 100%; }

.PrjectCard:hover {
  opacity: 1;
  -webkit-box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.4); }

@media only screen and (min-width: 640px) {
  .PrjectCard {
    width: 45%;
    min-width: 300px;
    border: 2px solid #705edd;
    border-radius: 7px;
    -webkit-box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.4);
    margin: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; } }

.subBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.quote {
  padding-bottom: 50px; }

.quote__text {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.6em;
  font-weight: bold; }

.quote__author {
  text-align: right;
  position: relative;
  left: 0;
  right: 0;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 500;
  font-size: 1.3em; }

@media only screen and (min-width: 640px) {
  .quote__text {
    text-align: center;
    font-size: 1.3em;
    line-height: 1.6em;
    font-weight: bold; }
  .quote__author {
    text-align: center;
    position: relative;
    left: 25vw;
    font-family: Open Sans;
    font-style: italic;
    font-weight: 500;
    font-size: 1.2em; } }

/*# sourceMappingURL=all.css.map */
